<%-include("../partials/header.ejs") %>
<div class="container-fluid  contDash m-0 p-0 ">
  <br><br>
  <h1 class="ms-5 ps-5">Welcome to newsApp !! </h1>
  <br><br>
</div>
<%-include("../partials/footer.ejs") %>
