<footer class="text-center text-lg-start   mb-0">
  <div class="text-center p-4 " >
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="/admin/dashboard">newsApp.com</a>
  </div>
  <!-- Copyright -->
</footer>
</body>
<script src="/javaScript/action.js"></script>
</html>
